".source.apex":

  "system debug":
    prefix: "debug"
    body: "System.debug('*** ${1:object}: ' + ${1:object});$2"

  "assert equals":
    prefix: "assertEquals"
    body: "System.assertEquals(${1:expected}, ${2:actual});$3"

  "assert not equals":
    prefix: "assertNotEquals"
    body: "System.assertNotEquals(${1:expected}, ${2:actual});$3"

  "soql query":
    prefix: "soql"
    body: "[SELECT ${2:field} FROM  ${1:sObject}]$3"

  "insert":
    prefix: "insert"
    body: "insert ${1:sObject};${2}"